---
layout: base
---
<body class="grey">
  <div class="container">
    <article class="animated fadeIn short-delay">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print affix well">
          <ul class="nav bs-sidenav">
            <li>
              <a href="#multi-language" class="smoothScroll">{{ page.title }}</a>
            </li>
            <li>
              <a href="#languages" class="smoothScroll">TutorCruncher translated into French and Spanish</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <h1 id="multi-language">
          {{ page.title }}
        </h1>
        {{ content }}
      </div>
    </article>
  </div>
</body>
